/Animal.class
/Carnivore.class
/Deer.class
/Duck.class
/EggLaying.class
/Fish.class
/Fly.class
/Herbivore.class
/Mammal.class
/Reptiles.class
/Swim.class
/bird.class
/jump.class
/livebirth.class
/pike.class
/walk.class
