/Animal.class
/Bird.class
/Deer.class
/Duck.class
/Fish.class
/Mammal.class
/Opossum.class
/Penguin.class
/Reptile.class
/Shark.class
/Snake.class
/canFly.class
/canSwim.class
/carnivore.class
/herbavore.class
/jumps.class
/laysEggs.class
/liveBirth.class
/omnivore.class
/test.class
/walks.class
